<!DOCTYPE html>
<html>

<head>
  <title>Chat Bot</title>
  <link rel="stylesheet" href="static/chat.css">
  <script src="static/jquery-3.7.1.min.js"></script>
  <script src="static/update_message_box.js"></script>
</head>

<body>
  <h1>Chat Bot</h1>
  <div style="margin-left: 15%;">
    <input type="text" id="openai-key">
  </div>
  <div id="message-box" class="message-box">
    <div style="width: 100%;text-align: left;">Welcome to Dr. GPT! How can I help?</div>
  </div>
  <div style="margin-left: 15%;">
    <form id="chat-form" method="POST">
      <div style="display: inline;">
        <input type="text" id="chat-text-input"> <button type="submit">Send</button>
      </div>
    </form>
  </div>
</body>

</html>